<div class="row">
    <div class="col-6">
        <h1>@ViewBag.OneHobby.HobbyName</h1>
        <h1>Description: @ViewBag.OneHobby.Description</h1>       

        <h3>Enthusiants:</h3>
        <ul>
            @foreach(var e in @ViewBag.OneHobby.UserWhoLikes)
            {
                <li>@e.UserWhoLiked.FirstName</li>
            }
        </ul>

        <a href="/editHobby/@ViewBag.OneHobby.HobbyId">Edit Hobby</a>

        <h4>Proficiency</h4>
        <form action="/addCatToHobby" method="post">
            <select name="CategoryId" class="form-control">                
                @foreach(Category c in ViewBag.AllCats)
                {
                    <option value="@c.CategoryId">@c.CategoryName</option>
                }
            </select>
            <input type="hidden" name="HobbyId" value="@ViewBag.OneHobby.HobbyId">
            <input type="submit" value="Add Category" class="btn btn-primary">
        </form>

        @* <h3>Categories:</h3>
        <ul>
            @foreach(var c in @ViewBag.OneHobby.CategoryOfHobby)
            {
                <li>@c.CategoryName</li>
            }
        </ul> *@